.sidebar, .sidebar-wrapper {
    width: 290px !important;
}

.admin-main-panel {
    position: relative;
    float: right;
    width: calc(100% - 290px);
}

.admin-main-panel > .content {
    margin-top: 0 !important;
    padding: 0 !important;
}

.sidebar .nav li .dropdown-menu a,
.sidebar .nav li a {
    margin: 5px 5px 0 !important;
    padding: 10px 10px !important;
    text-transform: none !important;
}

.sidebar .nav p.nav-link {
    cursor: pointer !important;
}

.sidebar .nav p.nav-link:hover {
    background-color: transparent !important;
    outline: 0;
    cursor: pointer !important;
}

.sidebar .nav i {
    margin-right: 10px !important;
    /*color: black !important;*/
}

.sidebar .nav {
    margin-top: 10px !important;
}

.table {
    margin-bottom: 0 !important;
}

.table > tbody > tr > td {
    padding: 8px 8px !important;
}

.table > tbody > tr > td > .btn-group {
    margin: 0 1px !important;
}

.card .card-body .form-group {
    margin: 0 !important;
}

.t-d-underline {
    text-decoration: underline;
}

.f-no-transform {
    text-transform: none !important;
}

.nav {
    display: flex;
    padding-left: 0;
}

.nav-pills .nav-item .nav-link.active,
.nav-pills .nav-item .nav-link.active:focus,
.nav-pills .nav-item .nav-link.active:hover {
    color: #fff;
    background-color: #9c27b0;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, .14), 0 7px 10px -5px rgba(156, 39, 176, .4);
}

.nav-pills.nav-pills-warning .nav-item .nav-link.active,
.nav-pills.nav-pills-warning .nav-item .nav-link.active:focus,
.nav-pills.nav-pills-warning .nav-item .nav-link.active:hover {
    background-color: #ff9800;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, .14), 0 7px 10px -5px rgba(255, 152, 0, .4);
    color: #fff;
}

.card .tab-content.tab-space {
    padding: 20px 0 9px;
}

.card .card-body .col-form-label, .card .card-body .label-on-right {
    padding: 10px 5px 0 0;
    text-align: right;
}

.form-group input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    cursor: pointer !important;
    opacity: 0;
    z-index: 0 !important;
    /*cursor: pointer !important;*/
}

/** pagination */
.pagination {
    display: flex;
    padding-left: 0;
    border-radius: .25rem;
    list-style: none;
}

.pagination > .page-item > .page-link, .pagination > .page-item > span {
    border: 0;
    border-radius: 30px !important;
    transition: all .3s;
    padding: 0 11px;
    margin: 0 3px;
    min-width: 30px;
    height: 30px;
    line-height: 30px;
    color: #999;
    font-weight: 400;
    font-size: 12px;
    text-transform: uppercase;
    background: 0 0;
    text-align: center;
}

.pagination > .page-item.active > a, .pagination > .page-item.active > a:focus, .pagination > .page-item.active > a:hover, .pagination > .page-item.active > span, .pagination > .page-item.active > span:focus, .pagination > .page-item.active > span:hover {
    background-color: #9c27b0;
    border-color: #9c27b0;
    color: #fff;
    box-shadow: 0 4px 5px 0 rgba(156, 39, 176, .14), 0 1px 10px 0 rgba(156, 39, 176, .12), 0 2px 4px -1px rgba(156, 39, 176, .2);
}

.overflow-auto {
    overflow: auto !important;
}

.dropdown-menu > button.bg-hover-danger:hover {
    background-color: red!important;
}
